

.pIdiomes {
    display: inline;
}
.ang .cat {
    display: inline;
}
.contenidorIdiomes {
    position: absolute;
    right: 0;
    top: 0; /* Ajusta la posición vertical según sea necesario */
}
.mt-5 {
    margin-bottom: 10px;
}
.btn-primary {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
}

.btn-primary span {
    margin-left: 10px;
}

.btn-secondary {
    width: 50%;
}
.btn-secondary span {
    margin-left: 10px;
}



